body {
  width: 100%;
  margin: 0;
  /* height: 430px; */
  /* height: 100vh; */
  /* background-color: #eaeaea; */
  display: grid;
  place-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.board {
  /* box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4); */
  /* max-width: 490px; */
  width: 100%;
  /* border-radius: 12px; */
}

.board header {
  --start: 15%;
  height: 130px;
  background-image: repeating-radial-gradient(
      circle at var(--start),
      transparent 0%,
      transparent 10%,
      rgba(54, 89, 219, 0.33) 10%,
      rgba(54, 89, 219, 0.33) 17%
    ),
    linear-gradient(to right, #5b7cfa, #3659db);
  /* background-image: repeating-radial-gradient(
      circle at var(--start),
      transparent 0%,
      transparent 10%,
      #2a59b1 10%,
      #2a59b1 17%
    ),
    linear-gradient(to right, #416ec2, #2a59b1); */
  color: #fff;
  position: relative;
  border-radius: 12px 12px 12px 12px;
  overflow: hidden;
}

.board header .board__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--start) * 0.75);
  transform: translateY(-50%);
  text-transform: uppercase;
  margin: 0;
}

.board header .board__title span {
  display: block;
}

.board header .board__title--top {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6.5px;
}

.board header .board__title--bottom {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.55px;
  opacity: 0.65;
  transform: translateY(-2px);
}

.board header .board__icon {
  fill: #fff;
  opacity: 1.0;
  width: 65px;
  position: absolute;
  top: 50%;
  left: var(--start);
  transform: translate(-50%, -50%);
}

.board__items {
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  padding: 15px 15px 20px;
  display: grid;
  row-gap: 8px;
}

.board__item {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr; */
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding: 10px 30px 10px 10px;
  /* overflow: hidden; */
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98),
    box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  background-color: #fff;
}

.board__item:hover {
  transform: scale(1.1);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

/* .board__picture {
  max-width: 100%;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}
 */
.board__name {
  color: #979cb0;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.64px;
  margin-left: 12px;
}

.board__value {
  color: #0ac492;
  font-weight: 700;
  font-size: 34px;
  text-align: right;
  /* width: max-content; */
}

.board__value > span {
  opacity: 0.8;
  font-weight: 600;
  font-size: 13px;
  margin-left: 3px;
}
