/* body {
  background: rgb(0, 136, 255);
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
} */

/* body * {
  margin: 0px;
  padding: 0 px;
  border: 0px solid green;
} */

.container {
  background: #96b3ad;
  /* background: rgb(108,117,125); */
  padding: 0.6%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
  "mapDiv contentDiv contentDiv"
  "mapDiv contentDiv contentDiv"
  "mapDiv titleDiv titleDiv";
  

  /* Centering the whole thing :) */

  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

/* 
  position: absolute;
  height: 570px;
  top:calc(50vh - 285px);
  width: 1500px;
  left: calc(50vw - 550px); */
  
  /* Read: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center  */
}

.mapDiv {
  background: #436ab0;
  /* background: rgb(83, 83, 150); */
  justify-self: stretch;
  align-self: stretch;
  grid-area: mapDiv;
}

.contentDiv {
  margin-left: 1%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1.5fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
  "pressDiv"
  "pressDiv"
  "cntrlDiv";
  justify-self: stretch;
  align-self: stretch;
  grid-area: contentDiv;
}

.pressDiv {
  background: #436ab0;
  /* background: rgb(83, 83, 150); */
  justify-self: stretch;
  align-self: stretch;
  grid-area: pressDiv;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.cntrlDiv {
  /* padding: 0; */
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: "sometext buttons";
  justify-self: stretch;
  align-self: stretch;
  grid-area: cntrlDiv;
}

.titleDiv {
  background: linear-gradient( #436ab0, #142d43);
  /* background:  rgb(73, 73, 255);*/
  color: #c4c2c2 !important;
  cursor: pointer;
  text-align: center;
  margin-left: 1%;
  font-weight: 600;
  justify-self: stretch;
  align-self: stretch;
  grid-area: titleDiv;
}

.sometext {
  padding-top: 1%;
  padding-left: 5%;
  font-weight: 100;
  justify-self: stretch;
  align-self: stretch;
  grid-area: sometext;
}

.buttons {
  /* these 3 lines will vlally center my contents */
  display: flex;
  justify-content: center;
  align-items: center; 
  /* justify-self: stretch;
  align-self: stretch; */
  grid-area: buttons;
  /* background-color: #000000; */
}


.button {
  cursor: pointer;
  fill: #3498db;
  display: inline;
  /* outline-color: #142d43; */
  /* outline-width: 10px; */
  /* fill: #c4c2c2; */
  /* transition: 0.6s fill; */
  -moz-transition: fill 0.2s ease-in-out;
  -webkit-transition: fill 0.2s ease-in-out;
  -ms-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
  /* background-color: #000000; */
}

.button:hover {
  fill: #4aa3df;
  /* fill: #ffffff; */
}

.button:active {
  fill: #258cd1;
}

/* .buttsvg {
  stroke: #ffffff;
  stroke-width: 1%;
} */

.hidd {
  opacity: 0%;
  /* transition: 0s opacity; */
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.hidd:hover {
  opacity: 80%;
}

.hidd:target {
  opacity: 100%;
}

#presDiv {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.presFrame {
  width: 100%;
  height: 430px;
  
  /* width: 800px; */
  /* height: 520px; */
  /* border: 1px solid black;
  
  zoom: 0.75;
  transform: scale(0.75);
  transform-origin: 0 0;
  -ms-zoom: 0.75;
  
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;*/
}

#title {
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

#subtitle {
  color: #d1d0d0;
  text-transform: uppercase;
}